body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.png) no-repeat;
    background-size: 100% cover;
    background-position: center;
}

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0; /* Change this color to the desired light background */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(bg.jpg) no-repeat; */
    /* Use the background color above instead of the image */
    background-size: cover;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color:rgb(215, 140, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.Logo {
    font-size: 24px;
    color: white;
    user-select: none;
    margin-left: 20px;
}
/* Existing styles */
.logo {
    float: left; /* Align the logo to the left */
}
.logo img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Maintain aspect ratio */
}
.navigation {
    flex-grow: 1;
    text-align: center;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 30px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 1.1em;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(215, 140, 177);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}.sub-menu {
    position: relative;
    display: inline-block;
}

.sub-menu .sub-btn {
    font-size: 1.1em;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 30px;
}

.sub-menu .sub-content {
    display: none;
    position: absolute;
    background-color: rgb(215, 140, 177);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub-menu .sub-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-menu .sub-content a:hover {
    background-color: #f1f1f1;
}

.sub-menu:hover .sub-content {
    display: block;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(215, 140, 177);
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


